<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- SQL Server Connection String-->
	<connectionStrings>
		<add name="Cswin" connectionString="data source=.; database=FlyWithMe;
			 integrated security=SSPI; TrustServerCertificate=true"
			 providerName="System.Data.SqlClient"/>

	</connectionStrings>

</configuration>
